/* -----------------------------------CARD-------------------------------------- */
.card{
  background-color: var(--secondary1);
  border-radius: 1.5em;

  box-shadow:7px 3px 0px rgba(0,0,0,0.2);
  min-width: 230px;
  min-height: 230px;
  max-width: 700px;
  margin: 1rem;

  padding: 0.5em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}
.cardHeader{
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  font-weight: 500;
}

.cardHeader > button {
  border-radius: 1rem;
}


.cardBody{
  gap: 0.5em;
  align-items: stretch;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardItem{
  --padding: 10px;

  background-color: var(--third);
  border-radius: 0.7em;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.2);

  padding: var(--padding);

  /* font-size: 1.5rem; */
  /* font-size: 2vw; */

  font-weight: 400;

  justify-content: space-between;
}

.widget{
  flex-grow: 1;
  aspect-ratio: 1;
  max-width: 360px;
}

/* -----------------------------------Table-------------------------------------- */

.table {

  width: 100%;
  border-collapse: collapse;

}

.tableLabels {
  width: 95%;


  /* border-bottom: var(--text) 1px solid; */
  border-bottom: var(--accent) 2px solid;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.tableEntry {
  width: 100%;

  font-weight: 200;
  padding: 0.2em;

  border-bottom: rgba(255, 255, 255, 0.12) 1px solid;

}

/*----------------------------------------Modal Window-------------------------------------------- */

.modalBase{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  display: grid;
  place-items: center;
}
.modalWindow{
  max-width: 330px;
}
/*-------------------------------------Line Graph---------------------------------------------------*/

.linegraph {
  margin:auto

}
.linegraphLine {
  stroke-width: 4;
  stroke-linecap: round;
  stroke: var(--primary);
}
.graphValue {
  fill: var(--text);
  font-size: 0.6rem;
}
.referenceLine {
  stroke-width: 1;
  stroke: var(--accent);
}

/*--------------------------------------Other---------------------------------------------------*/


.errorBar{
  background-color: var(--error);
  border-radius: 0.5em;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.2);

  padding:0.5em;
  margin:0.5em;

}