
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=date],
input[type=tel],
textarea{
  resize: none;
  background-color: #1f2554;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.2);

  border: var(--third) 2px solid;



  border-radius: 0.5rem;
  font-size: 1.3rem;
  padding: 0.4em;

  color: inherit;

  /* margin: 0.3em; */

  transition: background-color 0.5s, box-shadow 0.5s;
}

input:hover, textarea:hover{
  background-color: var(--secondary2);
  transition: background-color 0.5s, box-shadow 0.5s;

}
input:focus, textarea:focus{
  background-color: var(--secondary1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.663) inset;
  outline: none;
}

input.error {
  border: var(--error) 2px solid;

}



/*------------------------------------Button--------------------------------------*/
button {
  border-radius: 10px;
  padding: 0.25em 0.5em;
  margin: 0.3em;
  font-size: inherit;
  font-family: inherit;
  border: 0;


  background-color: var(--accent);
  color: var(--text);
  box-shadow: 0px 7px var(--accent-shadow);

  transition: transform 0.1s, box-shadow 0.1s;
}

button:hover {

  box-shadow: 0px 4px var(--accent-shadow);
  background-color: rgb(80, 91, 171);

  transform: translateY(3px);
}

button:active {

  box-shadow: 0px 0px var(--accent-shadow);

  transform: translateY(7px);
}

button.primary {
  background-color: var(--primary);
  color: var(--text);
  box-shadow: 0px 7px var(--primary-shadow);

}

button.primary:hover {
  box-shadow: 0px 4px var(--primary-shadow);
  /* background-color: rgb(96, 181, 132); */
}

button.primary:active {
  box-shadow: 0px 0px var(--primary-shadow);
}

button.green {
  background-color: var(--green);
  color: var(--text);
  box-shadow: 0px 7px var(--green-shadow);

}

button.green:hover {
  box-shadow: 0px 4px var(--green-shadow);
  background-color: rgb(96, 181, 132);
}

button.green:active {
  box-shadow: 0px 0px var(--green-shadow);
}





#monthSelector{
  background-color: inherit;
  color:inherit;
  border: 0;
  outline: none;
  font-size: 1.5rem;
}

#monthsSelector > option{
  font-size: 0.4rem;
}
