/* https://realtimecolors.com/?colors=f0efef-060818-da071f-0a0e29-de2b40 */
:root {
  --text: rgb(222, 225, 253);
  --background: rgb(6, 8, 24);

  --primary: rgb(72, 6, 177);
  --primary-shadow: rgb(46 16 95);

  --secondary1: rgb(10, 14, 41);

  --accent: rgb(78, 90, 183);
  --accent-shadow: rgb(41 51 125);

  --error: rgb(150 32 32);
  /* --accent: rgb(86, 93, 149);
  78, 93, 202
   --accent-shadow: rgb(52, 50, 92);
  --accent: rgb(107, 109, 133);
  --accent-shadow: rgb(61 62 78);
  --accent: rgb(230, 100, 25);
  --accent-shadow: rgb(139 58 12);
  */





  --secondary2: rgba(10, 14, 41, 0.6);

  --third: #3e4574;

  --green: #64C489;
  --green-shadow: #3b7451;

  --one: #a581df;
  --two:#897cde;
  --three: #9db8e7;
  --four: #5ca7d6;

  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;

}

p, h1, h2, h5, th{
  margin:0px 6px;
  font-weight: inherit;
}

body{
  background-color: var(--background);
  color: var(--text);
  font-size: 0.77rem;

  margin: 0;

  position: absolute;
  top: 0;
  left: 0;

  width:100%;
  min-width: 257px;

}


@media (min-width: 360px) {
  body{
    font-size: 1rem;
  }
}


#mainHeader{
  background-color: var(--secondary1);
  text-align: center;
  justify-content: space-between;

  /* width: 100vw; */
  margin-bottom: 10vh;
  padding: 0.5em

}








/* -----------------------------------Calendar-------------------------------------- */

.calendar {

  width: 90%;
  border-collapse: collapse;

  border-spacing: 0.5em;
}

.calendarDays {
  width: 95%;


  border-bottom: var(--text) 1px solid;

  font-family: 'Inter', sans-serif;
  font-weight: 400;

  opacity: .50;
}

.calendarDate {
  padding:0.5em;
  border-radius: 1em;
  text-align: center;
  transition: background-color 0.5s;
}


.calendarDate:hover{
  background-color: var(--third);
}
/* -----------------------------------Dropdown-------------------------------------- */

.dropdown{
  position: absolute;
  background-color: var(--secondary1);
  list-style-type: none;
  margin: 0;
  padding:0;
}


.flexColumn{
  display: flex;
  flex-direction: column;
}

.flexRow{
  display: flex;
  flex-direction: row;
  align-items: center;

}

form {
  /* width: 85%; */
}



@keyframes sliderRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% - 5em));
  }
}

@keyframes sliderLeft {
  from {
    transform: translateX(calc(100% - 5em));
  }
  to {
    transform: translateX(0);
  }
}

.sliderRight {
  animation-name: sliderRight;
  animation-duration: 0.2s;
  transform: translateX(calc(100% - 5em));
  animation-timing-function: linear;
}
.sliderLeft {
  animation-name: sliderLeft;
  animation-duration: 0.2s;
  animation-timing-function: linear;


}

.center {
  margin: auto !important;
}