/* https://realtimecolors.com/?colors=f0efef-060818-da071f-0a0e29-de2b40 */
:root {
  --text: rgb(240, 239, 239);
  --background: rgb(6, 8, 24);
  --primary: rgb(218, 7, 31);
  --secondary1: rgb(10, 14, 41);
  --accent: rgb(222, 43, 64);

  --secondary2: rgba(10, 14, 41, 0.6);

  --third: #3e4574;

  --green: #64C489;
  --green-shadow: #3b7451;

  --one: #a581df;
  --two:#897cde;
  --three: #9db8e7;
  --four: #5ca7d6;

  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;

}

p, h1, h2, h5{
  margin:0;
  font-weight: inherit;
}

body{
  background-color: var(--background);
  color: var(--text);
  font-size: 0.77rem;

  margin: 0;

  position: absolute;
  top: 0;
  left: 0;

  width:100%;
  min-width: 257px;



}




@media (min-width: 360px) {
  body{
    font-size: 1rem;
  }
}


#mainHeader{
  background-color: var(--secondary1);
  text-align: center;

  /* width: 100vw; */
  margin-bottom: 15vh;
  padding: 0.5em

}




/* -----------------------------------CARD-------------------------------------- */
.card{
  background-color: var(--secondary1);
  border-radius: 1.5em;

  box-shadow:7px 3px 0px rgba(0,0,0,0.2);
  min-width: 257px;
  min-height: 257px;
  max-width: 700px;
  margin: 1rem;

}
.cardHeader{
  width: calc(100% - 3em);

  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0.6em 1.2em;

  font-weight: 500;
}


.cardItem{
  --padding: 10px;

  background-color: var(--third);
  border-radius: 0.7em;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.2);

  width: calc(100% - 3em);
  margin: .5em;
  padding: var(--padding);

  /* font-size: 1.5rem; */
  /* font-size: 2vw; */

  font-weight: 400;

  justify-content: space-between;
}

/* -----------------------------------Table-------------------------------------- */

.table {

  width: 90%;
  border-collapse: collapse;

}

.tableLabels {
  width: 95%;


  border-bottom: var(--text) 1px solid;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.tableEntry {
  width: 100%;

  font-size: 0.8rem;
  font-weight: 200;
  padding: 0.2em;

  border-bottom: rgba(255, 255, 255, 0.12) 1px solid;

}

/*----------------------------------------Modal Window-------------------------------------------- */

.modalBase{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.modalWindow{
  margin: auto;
  position: relative;
  top: 30%;
}

.errorBar{
  background-color: var(--accent);
  border-radius: 1em;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.2);

  padding:0.5em;
  margin:0.5em;

}

.flexColumn{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.form {
  width: 85%;
}



@keyframes sliderRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% - 5em));
  }
}

@keyframes sliderLeft {
  from {
    transform: translateX(calc(100% - 5em));
  }
  to {
    transform: translateX(0);
  }
}

.sliderRight {
  animation-name: sliderRight;
  animation-duration: 0.2s;
  transform: translateX(calc(100% - 5em));
  animation-timing-function: linear;
}
.sliderLeft {
  animation-name: sliderLeft;
  animation-duration: 0.2s;
  animation-timing-function: linear;


}

.center {
  margin: auto;
}